html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
  padding-bottom: 70px;
  font-size: 20px;
}
.body-top {
  width: 80%;
  border: none;
  margin: auto;
  font-family: Verdana;
  font-style: normal;
  font-size: normal;
  font-weight: bold;
  text-align: center;
}
header {
  padding: 1em;
  color: white;
  background-color: #413c37;
  vertical-align: center;
}
#logo {
  max-width: 180px;
  max-height: 140px;
}
.col-9 {
  display: flex;
}
h1 {
  margin: auto;
}
@media screen and (max-width: 768px) {
  #logo {
    max-width: 100px;
    max-height: 70px;
  }
  h1 {
    font-size: 14px;
  }
}
#menu {
  background-color: #413c37;
}
a {
  color: white !important;
}
.tour {
  border: solid #007196;
}
.tour img {
  width: 250px;
  height: 170px;
  padding: 5px;
}
.tour a {
  color: white;
  background-color: #66cdaa;
}
.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  color: #b49a5d;
  background-color: #413c37;
  border: 2px solid #b49a5d;
  min-height: 150px;
}
body {
  background: url(http://www.evasolar.ru/wp-content/uploads/2018/04/biblioteka.jpg) !important;
  color: #fff;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

TABLE {
  background: #000000; /* Цвет фона таблицы */
  color: yellow;
  border: 2px solid #b49a5d;
}
TD {
  background: #000000; /* Цвет фона ячеек */
  border: 2px solid #b49a5d;
}
.hide_qt {
  display: none;
}
@media screen and (min-width: 911px) {
  .ant-carousel {
    max-width: 810px;
  }
}

@media screen and (min-width: 641px) and (max-width: 910px) {
  .ant-carousel {
    max-width: 540px;
  }
}

@media screen and (max-width: 640px) {
  .ant-carousel {
    max-width: 270px;
  }
}

.ant-carousel {
  margin: 50px auto 110px;
  padding-top: 10px;
  border: 1px solid #ccd;
  background-color: white;
}

.ant-carousel-element {
  width: 270px;
  text-align: center;
}

/* General styles */
.ant-carousel {
  width: auto;
  position: relative;
  background-color: #413c37;
  border: 2px solid #b49a5d;
}

.ant-carousel-hider {
  overflow: hidden;
}

.ant-carousel-list {
  width: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}
.card-img-top {
  width: 50%;
  height: 400px;
  padding-right: 4px;
}
.ant-carousel-element {
  display: block;
  flex: 0 0 auto;
  background-color: #413c37;
  color: #b49a5d;
}

/* Navigation item styles */
div.ant-carousel-arrow-left,
div.ant-carousel-arrow-right {
  width: 40px;
  height: 40px;
  background-color: white;
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
  z-index: 32;
}

div.ant-carousel-arrow-left {
  left: -40px;
  top: 40%;
  display: block;

  background: url("img/left.png") no-repeat;
}

div.ant-carousel-arrow-right {
  right: -40px;
  top: 40%;
  display: block;
  background: url("img/right.png") no-repeat;
}

div.ant-carousel-arrow-left:hover {
  opacity: 1;
}

div.ant-carousel-arrow-right:hover {
  opacity: 1;
}

div.ant-carousel-dots {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: -30px;
  z-index: 30;
  text-align: center;
}

.pp {
  color: #b49a5d;
  text-decoration: none;
}

.pp:active {
  color: #b49a5d;
  text-decoration: none;
}

.pp:visited {
  color: #b49a5d;
  text-decoration: none;
}

.pp:hover {
  color: #b49a5d;
  text-decoration: underline;
}
span.ant-dot {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  padding: 0;
  display: inline-block;
  background-color: #bbb;
  border-radius: 5px;
  cursor: pointer;
}
.shusha {
  padding-right: 50px;
}
.container-jojo {
  width: 100%;
}
.Navbars {
  flex-direction: row;
}
.Navbars > li {
  margin-left: 10px;
  margin-right: 10px;
}
.card {
  background-color: #413c37;
  width: 100%;
  color: #b49a5d;
  float: none;
  text-align: center;
  border: 2px solid #b49a5d;
}

.card-img-top {
  width: 100%;
  height: 600px;
}
.hide {
  display: none;
}
